{% trans_default_domain 'settings.main.seo' %}

<div class="card w-100 border-light">

	<div class="card-header border-light bg-body">
		<div class="card-title">
			<h4>
				Настройки SEO
			</h4>
		</div>
	</div>

	<div class="card-body pb-0">

		{% if form.seo.count > 1 %}

				<ul class="nav nav-pills gap-3 mb-3" id="nav-{{ form.seo.vars.id }}" role="tablist">
					{% for seo in form.seo %}
						<li class="nav-item" role="presentation">

							<button class="btn fw-bolder nav-link{{ app.request.locale == seo.vars.value.local? ' active' : '' }}"
									data-bs-toggle="tab"
									type="button"
									role="tab"
									aria-selected="true"

									id="nav-{{ form.seo.vars.id }}-{{ seo.vars.value.local }}-tab"
									data-bs-target="#nav-{{ form.seo.vars.id }}-{{ seo.vars.value.local }}"
									aria-controls="nav-{{ form.seo.vars.id }}-{{ seo.vars.value.local }}"
							>
								<small class="text-uppercase px-3">{{ seo.vars.value.local|trans({}, 'messages') }}</small>
							</button>

							{#<button class="btn nav-link fw-bolder active" id="pills-home-tab" data-bs-toggle="pill"
									data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
									aria-selected="true"><span class="text-uppercase px-3">Альтернатива</span></button>#}
						</li>

					{% endfor %}
				</ul>

		{% endif %}

		<div class="tab-content" id="nav-{{ form.seo.vars.id }}Content">

			{% for seo in form.seo %}

				<div class="tab-pane fade{{ app.request.locale == seo.vars.value.local? ' show active' : '' }}"
					 role="tabpanel"
					 id="nav-{{ form.seo.vars.id }}-{{ seo.vars.value.local }}"
					 aria-labelledby="nav-{{ form.seo.vars.id }}-{{ seo.vars.value.local }}-tab"
				>
					{# TITLE #}
					{{ form_row(seo.title) }}

					{# DESCRIPTION #}
					{{ form_row(seo.description) }}

					{# KEYWORDS #}
					{{ form_row(seo.keywords) }}
				</div>
			{% endfor %}

		</div>
	</div>
</div>